{%- if card_product and card_product != blank -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif

    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper prodcut-card-wrapper">
    <div
      class="
        card
        card--standard
        {% if card_product.featured_media %}card--media {% else %} card--text{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%"
    >
      <div class="card__inner ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%">
        {% if show_rating %}
          {% render 'product-rating', product: card_product %}
        {% else %}
          {% render 'product-rating' %}
        {% endif %}
        {%- if card_product.featured_media -%}
          <div class="card__media">
            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
            <img
              srcset="
                {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
              "
              src="{{ card_product.featured_media | image_url: width: 533 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ card_product.featured_media.alt | escape }}"
              class="motion-reduce content"
              {% unless lazy_load == false %}
                loading="lazy"
              {% endunless %}
              width="{{ card_product.featured_media.width }}"
              height="{{ card_product.featured_media.height }}"
            >
            {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
          </div>
        {%- endif -%}
      </div>
      <div class="card__content">
        {% if show_vendor %}
          <div class="card__detail">
            <span class="hidden">{{ card_product.vendor }}</span>
            <p class="card__detail-text">{{ card_product.vendor }}</p>
          </div>
        {% endif %}
        <h3 class="card__heading h5">
          <a
            href="{{ card_product.url }}"
            id="CardLink-{{ section_id }}-{{ card_product.id }}"
            aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }}"
          >
            {{ card_product.title | escape }}
          </a>
        </h3>
        {% render 'price', product: card_product, price_class: '' %}
      </div>
    </div>
  </div>
{%- endif -%}
